{% extends '_layout.html' %}

{% set pageTitle = 'Home' %}
{% set primaryActivePage = 'home' %}

{% block content %}

{# Header #}
{% include './header/_header.html' %}

<h2>This is the {{pageTitle}} page</h2>

{# Navigation - home #}
{% include './navigation/_navigation.html' %}


<!--<article>
  <div class="Gallery">
    {# Loops through "images" array #}
    {% for image in images %}
    <div class="Gallery-item">
      <a href="{{image.url}}">
        <img src="{{image.src}}" alt="{{image.alt}}" height="200" width="400">
      </a>
      <p>{{image.caption}}</p>
    </div>
    {% endfor %}
  </div>
</article>-->

<!--{# Footer #}
{% include './footer/_footer.html' %}-->

{% endblock %}
